@{
    ViewData["Title"] = "Sisteme Giriş";
}

<h3>EBYS Sisteme Giriş</h3>
<ul>
    <li>Sisteme <strong>https://giris.belge.gov.tr</strong> adresi üzerinden giriş yapılır.</li>
    <li>Kullanıcı adı ve şifre girildikten sonra, cep telefonuna gönderilen onay kodu ile doğrulama yapılır.</li>
    <li>Sisteme giriş başarıyla tamamlandığında EBYS ana ekranı açılır.</li>
    <li>Alternatif giriş yöntemleri: E-imza, Mobil İmza, Akıllı Kart, Parmak İzi.</li>
</ul>

<div class="container">
    <div class="row justify-content-center g-4">
        
        <div class="col-md-6 text-center">
            <img src="~/images/giriş.png" alt="Giriş 1" class="img-fluid rounded shadow" />
        </div>
        <div class="col-md-6 text-center">
            <img src="~/images/giriş2.png" alt="Giriş 2" class="img-fluid rounded shadow" />
        </div>
        <div class="col-md-6 text-center">
            <img src="~/images/giriş3.png" alt="Giriş 3" class="img-fluid rounded shadow" />
        </div>
        <div class="col-md-6 text-center">
            <img src="~/images/giriş4.png" alt="Giriş 4" class="img-fluid rounded shadow" />
        </div>
    </div>

    <div class="text-center mt-4">
        <a class="btn btn-secondary me-2" href="/Learn/Slide1_EBYSNedir">Geri</a>
        <a class="btn btn-success" href="/Learn/Slide3_BirimEvrak">Sonraki</a>
    </div>
</div>
