@{
    ViewData["Title"] = "İşlem Yapacaklarım";
}

<h3>EBYS – İşlem Yapacaklarım</h3>

<div class="section-box">
    <p>
        İşlem Yapacaklarım, kullanıcının EBYS sisteminde işlem yapması gereken tüm evrakları gösteren bölümdür. Bu ekran sayesinde kullanıcı, üzerine düşen görevleri ve bekleyen işlemleri hızlıca takip edebilir.

    </p>
    <ul>
        <li>
            <strong>
                📥 Gelen Evraklar:
            </strong>

            Kullanıcıya havale edilmiş, henüz işlem yapılmamış evrakların listelendiği bölümdür.


            Belgeler işaretlenerek işleme alınır veya yönlendirme yapılabilir.
        </li>

        <li>
            <strong>
                📝 Taslaklarım:
            </strong>

    Hazırlanmış ancak henüz gönderilmemiş ya da imzalanmamış belgeler buradadır.

            Üzerinde düzenleme yapılabilir, e-imza veya e-onay işlemi uygulanabilir.
        </li>

        <li>
            <strong>
                🖊️ Paraf Bekleyenler:
            </strong>

            Paraf sırası kullanıcıda olan, henüz paraflanmamış evrakları içerir.
        </li>

        <li>
            <strong>
                ✍️ İmza Bekleyenler:
            </strong>

            İmza sırası kullanıcıda olan ve e-imza ile imzalanması gereken belgeler.
        </li>

        <li>
            <strong>
                ↩️ İade Edilmiş Postalarım:
            </strong>

            Gönderilen ancak eksik bilgi veya yanlış adres nedeniyle geri dönen postaları içerir.
        </li>

        <li>
            <strong>
                📩 Tebliğ Edilenler:
            </strong>

            Kullanıcı tarafından alıcısına resmi olarak tebliğ edilmiş belgeler burada yer alır.
        </li>
    </ul>
    

    <div class="text-center mt-4">
        <img src="~/images/taslak1.png" alt="İmza Süreci Ekranı" style="max-width: 500px; width: 100%; border-radius: 10px; box-shadow: 0 6px 12px rgba(0,0,0,0.1);" />
        <img src="~/images/taslak3.png" alt="İmza Süreci Ekranı" style="max-width: 500px; width: 100%; border-radius: 10px; box-shadow: 0 6px 12px rgba(0,0,0,0.1);" />
        <img src="~/images/taslak2.png" alt="İmza Süreci Ekranı" style="max-width: 500px; width: 100%; border-radius: 10px; box-shadow: 0 6px 12px rgba(0,0,0,0.1);" />
    </div>
</div>

<div class="text-center mt-4">
    <a class="btn btn-secondary me-2" href="/Learn/Slide7_PostaIslemleri">Geri</a>
    <a class="btn btn-success" href="/Learn/Slide9_EvrakArama">Sonraki</a>
</div>

