@{
    ViewData["Title"] = "Posta İşlemleri";
}

<h3>EBYS – Posta İşlemleri</h3>

<div class="section-box">
    <p>
        Posta İşlemleri, fiziksel veya elektronik olarak gönderilen evrakların takibinin yapıldığı, gönderim ve teslimat süreçlerinin yönetildiği EBYS modülüdür. Bu alan sayesinde belgelerin kimlere, ne zaman ve nasıl ulaştığı sistem üzerinden kolayca izlenebilir.
    </p>

    <ul>
        <li>
            📤 Postalanmayı Bekleyenler:

            Henüz gönderim yapılmamış, EBYS Şubesi tarafından postalanmayı bekleyen evrakları içerir.

            Elektronik gönderim yapılmışsa sistemde ✉️ simgesi görünür. </li>

        <li>
            ✅ Postalananlar:

            Şube tarafından fiziksel ya da elektronik olarak gönderilmiş belgeler burada listelenir.

            Gönderilen evrakın detayları ve teslim bilgisi izlenebilir.
        </li>
        <li> ↩️ Birime İade Edilenler:

            Hatalı adres, eksik bilgi ya da alıcı tarafından kabul edilmeme gibi sebeplerle kuruma geri dönen postalar burada gösterilir.

        </li>
    </ul>

    <div class="container">
        <div class="row justify-content-center g-4">

            <div class="col-md-6 text-center">
                <img src="~/images/posta1.png" alt="Giriş 1" class="img-fluid rounded shadow" />
            </div>
            <div class="col-md-6 text-center">
                <img src="~/images/posta2.png" alt="Giriş 2" class="img-fluid rounded shadow" />
            </div>
            <div class="col-md-6 text-center">
                <img src="~/images/posta3.png" alt="Giriş 3" class="img-fluid rounded shadow" />
            </div>
        </div>
    </div>
</div>


<div class="text-center mt-4">
    <a class="btn btn-secondary me-2" href="/Learn/Slide6_IslemYaptıklarım">Geri</a>
    <a class="btn btn-success" href="/Learn/Slide8_IslemYapacaklarım">Sonraki</a>
</div>
